Repository jitacm/-30DaysDevChallenge-, pull requests merged in 2024-08, with the labels that each got.

#188 Adding Alternate Weather App/30_Days_of_JavaScript #153
  30_days_of_javascript/Alternate Weather Application/app.js
  30_days_of_javascript/Alternate Weather Application/index.html
  30_days_of_javascript/Alternate Weather Application/readme.md
  30_days_of_javascript/Alternate Weather Application/style.css
Labels: question, 30DayChallenge, JIT ACM, JavaScript

#184 Random_Quote_Generator/30_days_of_javascript #161
  30_days_of_javascript/Project_4 - Random Quote Generator/readme.md
  30_days_of_javascript/Project_4 - Random Quote Generator/script.js
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-1

#140 Adding GUI Tic-Tac-Toe Game / 30_Days_of_Java #139
  30_days_of_java/project_1_tic-tac-toe/Main.java
  30_days_of_java/project_1_tic-tac-toe/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-1

#196 Image_Recognition/30_days_of_python
  30_days_of_python/Project_14_Image_Recognition/Face.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-1

#193 Adding Number Guessing Game / 30_Days_Of_Java #189
  30_days_of_java/project_6_Number_Guessing_Game/LICENSE
  30_days_of_java/project_6_Number_Guessing_Game/NumberGuessingGame.java
  30_days_of_java/project_6_Number_Guessing_Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#143 Added Functionalities in Snake-Game / 30_Days_of_Java #142
  30_days_of_java/Project_2_Simultaneous_Equations_Solver/README.md
  30_days_of_java/Project_2_Simultaneous_Equations_Solver/SimultaneousEquationsSolver.java
  30_days_of_java/project_3_Snake-game/SnakeGame.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-1

#195 stack/30_days_of_python
  30_days_of_python/Project_7_stack/stack_gui.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#197 Photo Editor / 30_Days_of_JavaScript #169
  30_days_of_javascript/Photo Editor/README.md
  30_days_of_javascript/Photo Editor/index.html
  30_days_of_javascript/Photo Editor/script.js
  30_days_of_javascript/Photo Editor/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#206 Simultaneous_Equation_Solver / 30_Days_Of_Java #205
  30_days_of_java/Simultaneous_Equation_Solver/README.md
  30_days_of_java/Simultaneous_Equation_Solver/SimultaneousEquationsSolverGUI.java
Labels: 30DayChallenge, JIT ACM, Java

#216 Project_31_Resume Checker/ 30_Days_of_Python
  30_days_of_python/Resume Checker/main.py
  30_days_of_python/Resume Checker/readme.md
  30_days_of_python/Resume Checker/requirements.txt
  30_days_of_python/Resume Checker/templates/index.html
  30_days_of_python/Resume Checker/uploads/Ansh_ResumeNew.pdf
  30_days_of_python/Resume Checker/uploads/Ansh_Resume_New.pdf
  30_days_of_python/Resume Checker/uploads/Bharat_Resume.docx
  30_days_of_python/Resume Checker/uploads/Bharat_Resume.pdf
  30_days_of_python/Resume Checker/uploads/Tanishq_FR_1.pdf
Labels: 30DayChallenge, JIT ACM, Python

#144 Handling-http-requests_Currency_converter/30_Days_of_Python#141
  30_days_of_python/Project_10_Currency_converter/Currency.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-1, Change Needed !

#225 Cricket_Over_Tracker/30_days_of_javascript #173
  30_days_of_javascript/Cricket Over Tracker/Readme.md
  30_days_of_javascript/Cricket Over Tracker/index.html
  30_days_of_javascript/Cricket Over Tracker/script.js
  30_days_of_javascript/Cricket Over Tracker/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#226 Weather_App/30_days_of_javascript #181
  30_days_of_javascript/Project_6 - Weather App/index.html
  30_days_of_javascript/Project_6 - Weather App/readme.md
  30_days_of_javascript/Project_6 - Weather App/script.js
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#227 Don't_Laugh_Challenge/30_days_of_javascript #182
  30_days_of_javascript/Don't Laugh Challenge/Readme.md
  30_days_of_javascript/Don't Laugh Challenge/index.html
  30_days_of_javascript/Don't Laugh Challenge/script.js
  30_days_of_javascript/Don't Laugh Challenge/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#234 Password Strength Checker / 30_Days_of_JavaScript #168
  30_days_of_javascript/Project_31- Password Strength Meter/index.html
  30_days_of_javascript/Project_31- Password Strength Meter/readme.md
  30_days_of_javascript/Project_31- Password Strength Meter/script.js
  30_days_of_javascript/Project_31- Password Strength Meter/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#242 Create new readme for project 29 / 30 days of JavaScript
  30_days_of_javascript/Project_29- Real-Time Chat App/readme.md
Labels: documentation, 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#246 Text_To_Speech_converter/30_Days_Of_Javascript
  30_days_of_javascript/Project_32 - Text to speech converter/README.md
  30_days_of_javascript/Project_32 - Text to speech converter/images/dropdown.png
  30_days_of_javascript/Project_32 - Text to speech converter/images/play.png
  30_days_of_javascript/Project_32 - Text to speech converter/index.html
  30_days_of_javascript/Project_32 - Text to speech converter/script.js
  30_days_of_javascript/Project_32 - Text to speech converter/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#213 Rock Paper Scissor / 30_Days_Of_Java #207
  30_days_of_java/Rock Paper Scissor Game/GamePanel.java
  30_days_of_java/Rock Paper Scissor Game/Main.java
  30_days_of_java/Rock Paper Scissor Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#240 Adding Fee Report System / 30_Days_Of_Java #217
  30_days_of_java/project_7_Fee Report System/FeeReportSystem.java
  30_days_of_java/project_7_Fee Report System/LICENSE
  30_days_of_java/project_7_Fee Report System/Main.java
  30_days_of_java/project_7_Fee Report System/README.md
  30_days_of_java/project_7_Fee Report System/Student.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#210 Student_Management_System/30_days_of_java
  30_days_of_java/project_5_Student_Management_System/README.md
  30_days_of_java/project_5_Student_Management_System/StudentManagementSystem.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#257 Calendar_App/30_Days_Of_Javascript
  30_days_of_javascript/Project _34 - Calendar App/README.md
  30_days_of_javascript/Project _34 - Calendar App/index.html
  30_days_of_javascript/Project _34 - Calendar App/script.js
  30_days_of_javascript/Project _34 - Calendar App/styles.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#256 Connect Four / 30_Days_Of_Java #208
  30_days_of_java/Connect Four/ConnectFourGame.java
  30_days_of_java/Connect Four/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#263 Simple Calculator / 30_Days_Of_Java #243
  30_days_of_java/Simple Calculator/Calculator.java
  30_days_of_java/Simple Calculator/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#261 Library Management System / 30_Days_Of_Java #231
  30_days_of_java/Library Management System/LibraryManagementSystem.java
  30_days_of_java/Library Management System/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#255 Brick Breaker Game / 30_Days_Of_Java #220
  30_days_of_java/project_8_Brick_Breaker_Game/Ball.java
  30_days_of_java/project_8_Brick_Breaker_Game/Brick.java
  30_days_of_java/project_8_Brick_Breaker_Game/GamePanel.java
  30_days_of_java/project_8_Brick_Breaker_Game/LICENSE
  30_days_of_java/project_8_Brick_Breaker_Game/Main.java
  30_days_of_java/project_8_Brick_Breaker_Game/Paddle.java
  30_days_of_java/project_8_Brick_Breaker_Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#274 Text-To-Speech_Converter/30_days_of_javascript #248
  30_days_of_javascript/Project_32 - Text to speech converter/README.md
  30_days_of_javascript/Project_32 - Text to speech converter/index.html
  30_days_of_javascript/Project_32 - Text to speech converter/script.js
  30_days_of_javascript/Project_32 - Text to speech converter/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#271 Grocery_List_App/30_days_of_javascript #245
  30_days_of_javascript/Project_20- Grocery List App/index.html
  30_days_of_javascript/Project_20- Grocery List App/readme.md
  30_days_of_javascript/Project_20- Grocery List App/script.js
  30_days_of_javascript/Project_20- Grocery List App/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-1

#272 Github_Profile_Viewer/30_days_of_javascript #251
  30_days_of_javascript/Github Profile Viewer/Readme.md
  30_days_of_javascript/Github Profile Viewer/index.html
  30_days_of_javascript/Github Profile Viewer/script.js
  30_days_of_javascript/Github Profile Viewer/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#276 Number_System_Converter/30_Days_Of_Javascript
  30_days_of_javascript/Project_35 - Number System Converter/README.md
  30_days_of_javascript/Project_35 - Number System Converter/index.html
  30_days_of_javascript/Project_35 - Number System Converter/script.js
  30_days_of_javascript/Project_35 - Number System Converter/styles.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#282 Task_Schedular_App/30_Days_Of_Javascript
  30_days_of_javascript/Project_36 - Task_Schedular_App/README.md
  30_days_of_javascript/Project_36 - Task_Schedular_App/index.html
  30_days_of_javascript/Project_36 - Task_Schedular_App/script.js
  30_days_of_javascript/Project_36 - Task_Schedular_App/styles.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#278 Admission Councelling System / 30_Days_of_Java #277
  30_days_of_java/Project_9_Admission-counselling-system/.classpath
  30_days_of_java/Project_9_Admission-counselling-system/.gitignore
  30_days_of_java/Project_9_Admission-counselling-system/.project
  30_days_of_java/Project_9_Admission-counselling-system/README.md
  30_days_of_java/Project_9_Admission-counselling-system/build.xml
  30_days_of_java/Project_9_Admission-counselling-system/choices.txt
  30_days_of_java/Project_9_Admission-counselling-system/dist/Admission.jar
  30_days_of_java/Project_9_Admission-counselling-system/dist/README.TXT
  30_days_of_java/Project_9_Admission-counselling-system/dist/lib/AbsoluteLayout.jar
  30_days_of_java/Project_9_Admission-counselling-system/dist/lib/rs2xml.jar
  30_days_of_java/Project_9_Admission-counselling-system/dist/lib/sqlitejdbc-v056.jar
  30_days_of_java/Project_9_Admission-counselling-system/manifest.mf
  30_days_of_java/Project_9_Admission-counselling-system/nbproject/build-impl.xml
  30_days_of_java/Project_9_Admission-counselling-system/nbproject/genfiles.properties
  30_days_of_java/Project_9_Admission-counselling-system/nbproject/project.properties
  30_days_of_java/Project_9_Admission-counselling-system/nbproject/project.xml
  30_days_of_java/Project_9_Admission-counselling-system/output.txt
  30_days_of_java/Project_9_Admission-counselling-system/rs2xml.jar
  30_days_of_java/Project_9_Admission-counselling-system/sqlitejdbc-v056.jar
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Audit_details.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Audit_details.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Choice.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Choice.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/ChoicesData.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/CounsellingResult.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/CounsellingResult.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/DbUtils.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Emp.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Login.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Login.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/MainMenu.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/MainMenu.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Result.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/Result.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/StudentData.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/StudentInformation.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/StudentInformation.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/StudentInformationSystem.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/db.java
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/Add.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/Presentation1.jpg
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/Save-icon.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/Search.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/Update.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/attach.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/bk.jpg
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/bk2.jpg
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/bk3.jpg
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/bk4.jpg
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/delete_16x16.gif
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/erase-128.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/logout.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/pnbennet.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/images/update icon.png
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/users.form
  30_days_of_java/Project_9_Admission-counselling-system/src/student/information/system/users.java
  30_days_of_java/Project_9_Admission-counselling-system/studentInfo.sqlite
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#269 Number System Calculator / 30_Days_Of_Java #260
  30_days_of_java/Number System Calculator/NumberSystemCalculator.java
  30_days_of_java/Number System Calculator/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#267 Bank Account Management System / 30_Days_Of_Java #247
  30_days_of_java/Bank Account Management System/Account.java
  30_days_of_java/Bank Account Management System/BankAccountGUI.java
  30_days_of_java/Bank Account Management System/BankSystem.java
  30_days_of_java/Bank Account Management System/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#265 ATM Simulation System / 30_Days_Of_Java #221
  30_days_of_java/project_9_ATM_Simulation_System/ATMSimulationSystem.java
  30_days_of_java/project_9_ATM_Simulation_System/LICENSE
  30_days_of_java/project_9_ATM_Simulation_System/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#264 Palindrome Checker / 30_Days_Of_Java #244
  30_days_of_java/Palindrome Checker/PalindromeChecker.java
  30_days_of_java/Palindrome Checker/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#287 Exam Preparation Master / 30_Days_of_JavaScript #235
  30_days_of_javascript/Project_36 - Exam Preparation Master/.eslintrc.cjs
  30_days_of_javascript/Project_36 - Exam Preparation Master/.gitignore
  30_days_of_javascript/Project_36 - Exam Preparation Master/README.md
  30_days_of_javascript/Project_36 - Exam Preparation Master/backend/.env
  30_days_of_javascript/Project_36 - Exam Preparation Master/backend/package-lock.json
  30_days_of_javascript/Project_36 - Exam Preparation Master/backend/package.json
  30_days_of_javascript/Project_36 - Exam Preparation Master/backend/quizserver.js
  30_days_of_javascript/Project_36 - Exam Preparation Master/index.html
  30_days_of_javascript/Project_36 - Exam Preparation Master/package-lock.json
  30_days_of_javascript/Project_36 - Exam Preparation Master/package.json
  30_days_of_javascript/Project_36 - Exam Preparation Master/postcss.config.js
  30_days_of_javascript/Project_36 - Exam Preparation Master/public/mathsquiz.jpeg
  30_days_of_javascript/Project_36 - Exam Preparation Master/public/sciencequiz.jpeg
  30_days_of_javascript/Project_36 - Exam Preparation Master/public/vite.svg
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/App.css
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/App.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/assets/react.svg
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/First.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/HomePage.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/NavAfter.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/Navbar.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/Question.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/SubjectQuiz.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/login.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/profile.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/result.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/components/signup.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/index.css
  30_days_of_javascript/Project_36 - Exam Preparation Master/src/main.jsx
  30_days_of_javascript/Project_36 - Exam Preparation Master/tailwind.config.js
  30_days_of_javascript/Project_36 - Exam Preparation Master/vite.config.js
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-3

#290 Screen_Recorder/30_Days_Of_Python
  30_days_of_python/Project_31_Screen_Recorder/README.md
  30_days_of_python/Project_31_Screen_Recorder/app.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#291 WhatsApp Broadcast / 30_Days_of_Python #236
  30_days_of_python/Project_31_WhatsApp Broadcast App/backend/__pycache__/main.cpython-312.pyc
  30_days_of_python/Project_31_WhatsApp Broadcast App/backend/main.py
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/README.md
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/babel.config.js
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/jsconfig.json
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/package-lock.json
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/package.json
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/public/favicon.ico
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/public/index.html
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/src/App.vue
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/src/assets/logo.png
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/src/components/Dashboard.vue
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/src/main.js
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/src/services/apiServices.js
  30_days_of_python/Project_31_WhatsApp Broadcast App/my-vue-project/vue.config.js
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-3

#292 Code_Editor/30_Days_of_Javascript#238
  30_days_of_javascript/index.html
  30_days_of_javascript/script.js
  30_days_of_javascript/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#239 Project_31_Rock_Paper_Scissor/30_Days_Of_Python
  30_days_of_python/Project_31_Rock_Paper_Scissor/README.md
  30_days_of_python/Project_31_Rock_Paper_Scissor/Rock_Paper_Scissor.py
  New Microsoft Publisher Document.pub
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#289 Supermarket Billing System / 30_Days_Of_Java #262
  30_days_of_java/project_10_Supermarket Billing System/LICENSE
  30_days_of_java/project_10_Supermarket Billing System/README.md
  30_days_of_java/project_10_Supermarket Billing System/SupermarketBillingSystem.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#293 Site Connectivity Checker/30_Days_of_Python #252
  30_days_of_python/site checker.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#295 Sudoku Solver/30_Days_of_Python #253
  30_days_of_python/icon.png
  30_days_of_python/sudoko.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#296 BFS Algorithm/30_Days_of_Python #254
  30_days_of_python/shortest path.py
Labels: 30DayChallenge, JIT ACM, Python

#294 To Do List App / 30_Days_Of_Java
  30_days_of_java/To Do List App/GUI.java
  30_days_of_java/To Do List App/README.md
  30_days_of_java/To Do List App/Task.java
  30_days_of_java/To Do List App/ToDoList.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#302 Quiz App / 30_Days_of_Javascript #279
  30_days_of_javascript/Project_10 - Quiz App/index.html
  30_days_of_javascript/Project_10 - Quiz App/readme.md
  30_days_of_javascript/Project_10 - Quiz App/script.js
  30_days_of_javascript/Project_10 - Quiz App/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#315 Drink_Water/30_days_of_javascript #313
  30_days_of_javascript/Drink Water/Readme.md
  30_days_of_javascript/Drink Water/index.html
  30_days_of_javascript/Drink Water/script.js
  30_days_of_javascript/Drink Water/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#322 Text_editor/30_Days_of_Python#304
  30_days_of_python/text edit.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#324 Typing Speed Test / 30_Days_of_JavaScript #303
  30_days_of_javascript/Project_18- Typing Speed Test/index.html
  30_days_of_javascript/Project_18- Typing Speed Test/readme.md
  30_days_of_javascript/Project_18- Typing Speed Test/script.js
  30_days_of_javascript/Project_18- Typing Speed Test/style.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-1

#325 NBA LeaderBoard/30_Days_of_Python#306
  30_days_of_python/NBA.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#328 Password Manager / 30_Days_Of_Java #284
  30_days_of_java/Password Manager/KeySpec.java
  30_days_of_java/Password Manager/Main.java
  30_days_of_java/Password Manager/PasswordManager.java
  30_days_of_java/Password Manager/PasswordManagerGUI.java
  30_days_of_java/Password Manager/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#349 Emoji_Generator/30_Days_Of_Javascript
  30_days_of_javascript/Project_37 - Emoji_Generator/README.md
  30_days_of_javascript/Project_37 - Emoji_Generator/emojis.json
  30_days_of_javascript/Project_37 - Emoji_Generator/index.html
  30_days_of_javascript/Project_37 - Emoji_Generator/script.js
  30_days_of_javascript/Project_37 - Emoji_Generator/styles.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#350 Contact Book Application / 30_Days_Of_Java #286
  30_days_of_java/Contact Book Application/Contact.java
  30_days_of_java/Contact Book Application/ContactBook.java
  30_days_of_java/Contact Book Application/ContactBookGUI.java
  30_days_of_java/Contact Book Application/Main.java
  30_days_of_java/Contact Book Application/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#327 SENTIMENT ANALYSIS / 30_Days_of_Python #301
  30_days_of_python/Project_33_SENTIMENT_ANALYSIS_ML_PROJECT/Data/test_SentimentAnalysis.csv
  30_days_of_python/Project_33_SENTIMENT_ANALYSIS_ML_PROJECT/Data/train_SentimentAnalysis.csv
  30_days_of_python/Project_33_SENTIMENT_ANALYSIS_ML_PROJECT/Sentiment_Analysis_Twitter.ipynb
  30_days_of_python/Project_33_SENTIMENT_ANALYSIS_ML_PROJECT/main.py
  30_days_of_python/Project_33_SENTIMENT_ANALYSIS_ML_PROJECT/readme.md
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-3

#353 Personal Diary Application / 30_Days_Of_Java #288
  30_days_of_java/Personal Diary Application/Entry.java
  30_days_of_java/Personal Diary Application/EntryManager.java
  30_days_of_java/Personal Diary Application/EntryWindow.java
  30_days_of_java/Personal Diary Application/Main.java
  30_days_of_java/Personal Diary Application/README.md
  30_days_of_java/Personal Diary Application/SearchWindow.java
  30_days_of_java/Personal Diary Application/SerializationManager.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#354 AI_stock/30_Days_of_Python#311
  30_days_of_python/AI Stock_30_Days_of_Python/LSTM.py
  30_days_of_python/AI Stock_30_Days_of_Python/Readme.md
  30_days_of_python/AI Stock_30_Days_of_Python/base.py
  30_days_of_python/AI Stock_30_Days_of_Python/final.py
  30_days_of_python/AI Stock_30_Days_of_Python/flask_api.py
  30_days_of_python/AI Stock_30_Days_of_Python/graph.py
  30_days_of_python/AI Stock_30_Days_of_Python/my_csv.py
  30_days_of_python/AI Stock_30_Days_of_Python/new.py
  30_days_of_python/AI Stock_30_Days_of_Python/preprocessed_data.py
  30_days_of_python/AI Stock_30_Days_of_Python/stock_price.ipynb
  30_days_of_python/AI Stock_30_Days_of_Python/train_model.py
  30_days_of_python/AI Stock_30_Days_of_Python/web_stock_price_predictor.py
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#360 Loan Prediction / 30_Days_of_Python #300
  30_days_of_python/Project_34_LOAN PREDICTION/dataset.csv
  30_days_of_python/Project_34_LOAN PREDICTION/main.py
  30_days_of_python/Project_34_LOAN PREDICTION/model.ipynb
  30_days_of_python/Project_34_LOAN PREDICTION/model_svm.pkl
  30_days_of_python/Project_34_LOAN PREDICTION/readme.md
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#355 Basic Encryption/Decryption Using Caesar Cipher / 30_Days_Of_Java #329
  30_days_of_java/Basic Encryption-Decryption Using Caesar Cipher/CaesarCipherApp.java
  30_days_of_java/Basic Encryption-Decryption Using Caesar Cipher/CaesarCipherGUI.java
  30_days_of_java/Basic Encryption-Decryption Using Caesar Cipher/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#358 Blackjack Game / 30_Days_Of_Java #330
  30_days_of_java/Blackjack Game/BlackjackGame.java
  30_days_of_java/Blackjack Game/Card.java
  30_days_of_java/Blackjack Game/Deck.java
  30_days_of_java/Blackjack Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#359 Car Maintenance Tracker / 30_Days_Of_Java #331
  30_days_of_java/Car Maintenance Tracker/CarMaintenanceTracker.java
  30_days_of_java/Car Maintenance Tracker/MaintenanceTask.java
  30_days_of_java/Car Maintenance Tracker/README.md
  30_days_of_java/Car Maintenance Tracker/Vehicle.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#361 File Compression Tool / 30_Days_Of_Java #332
  30_days_of_java/File Compression Tool/AudioCompression.java
  30_days_of_java/File Compression Tool/CompressionHandler.java
  30_days_of_java/File Compression Tool/DocumentCompression.java
  30_days_of_java/File Compression Tool/FileCompressionTool.java
  30_days_of_java/File Compression Tool/HuffmanCompression.java
  30_days_of_java/File Compression Tool/ImageCompression.java
  30_days_of_java/File Compression Tool/README.md
  30_days_of_java/File Compression Tool/ZipCompression.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#363 Habit Tracker with Alarm Reminder / 30_Days_Of_Java #333
  30_days_of_java/Habit Tracker with Alarm Reminder/Habit.java
  30_days_of_java/Habit Tracker with Alarm Reminder/HabitTrackerApp.java
  30_days_of_java/Habit Tracker with Alarm Reminder/README.md
  30_days_of_java/Habit Tracker with Alarm Reminder/alarm.wav
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#365 Hangman Game / 30_Days_Of_Java #334
  30_days_of_java/Hangman Game/HangmanGame.java
  30_days_of_java/Hangman Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#364 Stock Analysis_Tool/30_Days_of_Python #351
  30_days_of_python/Amazon stack Analysis_30_Days_of_Python/main.ipynb
  30_days_of_python/Amazon stack Analysis_30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#369 Pong Arcade Game / 30_Days_Of_Java #336
  30_days_of_java/Pong Arcade Game/PongGame.java
  30_days_of_java/Pong Arcade Game/PongPanel.java
  30_days_of_java/Pong Arcade Game/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#384 Regression Analysis/30_Days_of_Python #352
  30_days_of_python/Regression analysis_30_Days_of_Python/main2.ipynb
  30_days_of_python/Regression analysis_30_Days_of_Python/main2.py
  30_days_of_python/Regression analysis_30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#375 Online Voting System / 30_Days_Of_Java #338
  30_days_of_java/Online Voting System/Chairperson.java
  30_days_of_java/Online Voting System/OnlineVotingSystem.java
  30_days_of_java/Online Voting System/README.md
  30_days_of_java/Online Voting System/Voter.java
  30_days_of_java/Online Voting System/VotingSystem.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#386 Alpha Vantage Analysis/30_Days_of_Python #367
  30_days_of_python/Intraday Data Analysis_30_Days_of_Python/main3.ipynb
  30_days_of_python/Intraday Data Analysis_30_Days_of_Python/main3.py
  30_days_of_python/Intraday Data Analysis_30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#377 Personal Finance Manager / 30_Days_Of_Java #339
  30_days_of_java/Personal Finance Manager/DataManager.java
  30_days_of_java/Personal Finance Manager/Main.java
  30_days_of_java/Personal Finance Manager/MainWindow.java
  30_days_of_java/Personal Finance Manager/README.md
  30_days_of_java/Personal Finance Manager/ReportGenerator.java
  30_days_of_java/Personal Finance Manager/Transaction.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#389 Momentum trading/30_Days_of_Python #373
  30_days_of_python/Momentum trading_30_Days_of_Python/main4.ipynb
  30_days_of_python/Momentum trading_30_Days_of_Python/main4.py
  30_days_of_python/Momentum trading_30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#379 Personal Time Tracker / 30_Days_Of_Java #341
  30_days_of_java/Personal Time Tracker/Activity.java
  30_days_of_java/Personal Time Tracker/MainFrame.java
  30_days_of_java/Personal Time Tracker/README.md
  30_days_of_java/Personal Time Tracker/TimeTracker.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#380 Personal Workout Tracker / 30_Days_Of_Java #342
  30_days_of_java/Personal Workout Tracker/README.md
  30_days_of_java/Personal Workout Tracker/WorkoutTracker.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#371 Alarm/30_days_of_python
  30_days_of_python/Project_20_Alarm_clock/Alarm.py
  30_days_of_python/Project_20_Alarm_clock/Readme.md
  30_days_of_python/Project_20_Alarm_clock/alarm.mp3
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#383 Plant Care Assistant / 30_Days_Of_Java #343
  30_days_of_java/Plant Care Assistant/Plant.java
  30_days_of_java/Plant Care Assistant/PlantCareApp.java
  30_days_of_java/Plant Care Assistant/PlantCareGUI.java
  30_days_of_java/Plant Care Assistant/PlantManager.java
  30_days_of_java/Plant Care Assistant/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#390 Train Ticket Management System / 30_Days_Of_Java #346
  30_days_of_java/Train Ticket Management System/README.md
  30_days_of_java/Train Ticket Management System/TrainTicketSystem.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#391 Appointment Scheduler / 30_Days_Of_Java #348
  30_days_of_java/Appointment Scheduler/Appointment.java
  30_days_of_java/Appointment Scheduler/AppointmentPanel.java
  30_days_of_java/Appointment Scheduler/AppointmentScheduler.java
  30_days_of_java/Appointment Scheduler/CalendarPanel.java
  30_days_of_java/Appointment Scheduler/Client.java
  30_days_of_java/Appointment Scheduler/DataModel.java
  30_days_of_java/Appointment Scheduler/MainFrame.java
  30_days_of_java/Appointment Scheduler/PersistenceManager.java
  30_days_of_java/Appointment Scheduler/README.md
  30_days_of_java/Appointment Scheduler/Reminder.java
  30_days_of_java/Appointment Scheduler/ReminderPanel.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#387 Flask News App / 30_Days_of_Python #366
  30_days_of_python/Project_35_flask_news_project/app.py
  30_days_of_python/Project_35_flask_news_project/readme.md
  30_days_of_python/Project_35_flask_news_project/requirements.txt
  30_days_of_python/Project_35_flask_news_project/templates/business.html
  30_days_of_python/Project_35_flask_news_project/templates/crypto.html
  30_days_of_python/Project_35_flask_news_project/templates/ent.html
  30_days_of_python/Project_35_flask_news_project/templates/headlines.html
  30_days_of_python/Project_35_flask_news_project/templates/home.html
  30_days_of_python/Project_35_flask_news_project/templates/layout.html
  30_days_of_python/Project_35_flask_news_project/templates/science.html
  30_days_of_python/Project_35_flask_news_project/templates/sports.html
  30_days_of_python/Project_35_flask_news_project/templates/tech.html
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#376 Word_Scrumble_Game/30_Days_Of_Javasccript
  30_days_of_javascript/Project_38 - Word Scrumble Game/README.md
  30_days_of_javascript/Project_38 - Word Scrumble Game/index.html
  30_days_of_javascript/Project_38 - Word Scrumble Game/script.js
  30_days_of_javascript/Project_38 - Word Scrumble Game/styles.css
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#396 Countdown_Timer/30_Days_Of_Python
  30_days_of_python/Project_36 - Countdown_Timer/README.md
  30_days_of_python/Project_36 - Countdown_Timer/app.py
Labels: 30DayChallenge, JIT ACM, JavaScript, LEVEL-2

#395 NBA LeaderBoard/30_Days_of_Python #306
  30_days_of_python/NBA_30_Days_of_python/NBA.py
  30_days_of_python/NBA_30_Days_of_python/readme.md
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#397 Hospital Management System /30_days_of_java
  30_days_of_java/Restaurant-management-system/.gitattributes
  30_days_of_java/Restaurant-management-system/Controller.java
  30_days_of_java/Restaurant-management-system/Controller_GUI.java
  30_days_of_java/Restaurant-management-system/Database.java
  30_days_of_java/Restaurant-management-system/DatabaseException.java
  30_days_of_java/Restaurant-management-system/Employee.java
  30_days_of_java/Restaurant-management-system/META-INF/MANIFEST.MF
  30_days_of_java/Restaurant-management-system/Manager.java
  30_days_of_java/Restaurant-management-system/MenuItem.java
  30_days_of_java/Restaurant-management-system/Order.java
  30_days_of_java/Restaurant-management-system/OrderDetail.java
  30_days_of_java/Restaurant-management-system/RMS.java
  30_days_of_java/Restaurant-management-system/RMS_GUI.jar
  30_days_of_java/Restaurant-management-system/RMS_GUI.java
  30_days_of_java/Restaurant-management-system/Staff.java
  30_days_of_java/Restaurant-management-system/UserInterface.java
  30_days_of_java/Restaurant-management-system/UserInterface_GUI.java
  30_days_of_java/Restaurant-management-system/dataFiles/manager.txt
  30_days_of_java/Restaurant-management-system/dataFiles/menu_item.txt
  30_days_of_java/Restaurant-management-system/dataFiles/report_2013_07_24.txt
  30_days_of_java/Restaurant-management-system/dataFiles/report_2013_07_25.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/payment_2013_07_26.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/payment_2013_07_29.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/payment_2013_08_15.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_07_24.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_07_25.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_07_26.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_07_29.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_07_30.txt
  30_days_of_java/Restaurant-management-system/dataFiles/reports/report_2013_08_15.txt
  30_days_of_java/Restaurant-management-system/dataFiles/staff.txt
  30_days_of_java/Restaurant-management-system/dataFiles/wage_info.txt
  30_days_of_java/Restaurant-management-system/demo_images/order.jpg
  30_days_of_java/Restaurant-management-system/demo_images/showmenu.png
  30_days_of_java/Restaurant-management-system/images/Logo.jpg
  30_days_of_java/Restaurant-management-system/images/home.jpg
  30_days_of_java/Restaurant-management-system/images/home1.jpg
  30_days_of_java/Restaurant-management-system/images/home2.jpg
  30_days_of_java/Restaurant-management-system/images/home3.jpg
  30_days_of_java/Restaurant-management-system/images/home4.jpg
  30_days_of_java/Restaurant-management-system/readme.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#400 Mean Reversion Trading /30_days_of_Python #398
  30_days_of_python/Mean Reversion Trading Algorithm_30_Days_of_Python/main5.ipynb
  30_days_of_python/Mean Reversion Trading Algorithm_30_Days_of_Python/main5.py
  30_days_of_python/Mean Reversion Trading Algorithm_30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python, LEVEL-2

#402 Resume Checker / 30_Days_of_Java #399
  30_days_of_java/resume-builder-java/resume_proj/AbsoluteLayout.jar
  30_days_of_java/resume-builder-java/resume_proj/build.xml
  30_days_of_java/resume-builder-java/resume_proj/build/classes/RESS1.png
  30_days_of_java/resume-builder-java/resume_proj/build/classes/RESS2.png
  30_days_of_java/resume-builder-java/resume_proj/build/classes/RESUME.doc
  30_days_of_java/resume-builder-java/resume_proj/build/classes/RESUME2.doc
  30_days_of_java/resume-builder-java/resume_proj/build/classes/Screenshot 2021-07-09 at 12.54.35 PM.png
  30_days_of_java/resume-builder-java/resume_proj/build/classes/Screenshot 2021-07-10 at 12.01.53 PM.png
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace$1.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace$2.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace$3.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace$4.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace$5.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/replace.form
  30_days_of_java/resume-builder-java/resume_proj/build/classes/start$1.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/start$2.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/start$3.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/start.class
  30_days_of_java/resume-builder-java/resume_proj/build/classes/start.form
  30_days_of_java/resume-builder-java/resume_proj/manifest.mf
  30_days_of_java/resume-builder-java/resume_proj/nbproject/build-impl.xml
  30_days_of_java/resume-builder-java/resume_proj/nbproject/genfiles.properties
  30_days_of_java/resume-builder-java/resume_proj/nbproject/private/config.properties
  30_days_of_java/resume-builder-java/resume_proj/nbproject/private/private.properties
  30_days_of_java/resume-builder-java/resume_proj/nbproject/private/private.xml
  30_days_of_java/resume-builder-java/resume_proj/nbproject/project.properties
  30_days_of_java/resume-builder-java/resume_proj/nbproject/project.xml
  30_days_of_java/resume-builder-java/resume_proj/readme.md
  30_days_of_java/resume-builder-java/resume_proj/src/RESS1.png
  30_days_of_java/resume-builder-java/resume_proj/src/RESS2.png
  30_days_of_java/resume-builder-java/resume_proj/src/RESUME.doc
  30_days_of_java/resume-builder-java/resume_proj/src/RESUME2.doc
  30_days_of_java/resume-builder-java/resume_proj/src/Screenshot 2021-07-09 at 12.54.35 PM.png
  30_days_of_java/resume-builder-java/resume_proj/src/Screenshot 2021-07-10 at 12.01.53 PM.png
  30_days_of_java/resume-builder-java/resume_proj/src/replace.form
  30_days_of_java/resume-builder-java/resume_proj/src/replace.java
  30_days_of_java/resume-builder-java/resume_proj/src/start.form
  30_days_of_java/resume-builder-java/resume_proj/src/start.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-3

#403 Network_Usage_Monitor/30_Days_of_Python #314
  30_days_of_python/Trafic_ monitor 30_days_of_python/Trafin_monitor.py
  30_days_of_python/Trafic_ monitor 30_days_of_python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#407 Blackjack_Game/30_Days_of_python #310
  30_days_of_python/card game 30_days_of_python/card.py
  30_days_of_python/card game 30_days_of_python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#408 Library Management System / 30_Days_of_Java #404
  30_days_of_java/Library Management/Library.class
  30_days_of_java/Library Management/Project_3.class
  30_days_of_java/Library Management/Project_3.java
  30_days_of_java/Library Management/realme.md
  30_days_of_java/resume-builder-java/resume_proj/readme.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#412 Email Generator / 30_Days_of_Java #281
  30_days_of_java/Project_12_Email_Generator/.DS_Store
  30_days_of_java/Project_12_Email_Generator/README.md
  30_days_of_java/Project_12_Email_Generator/bin/emailgenerator/EmailBackProgram.class
  30_days_of_java/Project_12_Email_Generator/bin/emailgenerator/EmailMainProgram.class
  30_days_of_java/Project_12_Email_Generator/src/emailgenerator/EmailBackProgram.class
  30_days_of_java/Project_12_Email_Generator/src/emailgenerator/EmailBackProgram.java
  30_days_of_java/Project_12_Email_Generator/src/emailgenerator/EmailMainProgram.java
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#411 Grocery List Manager / 30_Days_Of_Java #410
  30_days_of_java/Grocery List Manager/GroceryListManager.java
  30_days_of_java/Grocery List Manager/README.md
Labels: 30DayChallenge, JIT ACM, Java, LEVEL-2

#414 Language_Detection/30_days_of_Python #309
  30_days_of_python/language detect 30_Days_of_Python/language.py
  30_days_of_python/language detect 30_Days_of_Python/readme.md
Labels: 30DayChallenge, JIT ACM, Python

#415 Update README.md
  README.md
Labels: documentation, 30DayChallenge, JIT ACM
